*{
	font:400 100% "Helvetica Neue", "Open Sans", Helvetica, Arial, sans-serif;
	color:#111;line-height:1.3;letter-spacing: 0.5px;font-weight:300;
}

.left{float:left;}
.right{float:right;}

#nav{line-height:58px;max-height:58px;border-top:1px solid #ddd;border-bottom:1px solid #ddd;position:fixed;top:0;left:0;width:100%;display:block;background:#fff;z-index:999999;}
#nav > *{line-height:58px;padding-right:3%;}
#nav > *:first-child{padding-left:3%;}

#logo{line-height:0;height:58px}
#logo img{height:39px;padding-top:19px;line-height:0}

.dropdown{position:relative;cursor:pointer}
.dropdown .dropdown-options{position:absolute;right:0;left:auto;display:none;background:#fff;}
.dropdown .dropdown-options > * {padding:0 18px;display:block;line-height:38px;border:1px solid #eee;border-top:0;white-space:nowrap;}
.dropdown:focus .dropdown-options, .dropdown:hover .dropdown-options{display:block;}
.left.dropdown .dropdown-options, .left .dropdown .dropdown-options{left:0;right:auto;text-align:left}

.mobile-display{display:none !important}
@media (max-width:600px){
	.mobile-hide{display:none !important}
	.mobile-display{display:block !important}
	div,span{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;cursor:default}
}

.book{margin-top:59px;}

